<h1>Add Defintions: <%= @word.word %> </h1>

<form  action="/words/<%= @word.word %>" method="post">
  <h4>Definition</h4>
  <% count = 0 %>
  <% @word.definition.each do |definition, author| %>
    <div class="form-group">
      <label for="definition-input-<%= count %>">Definition</label>
      <input type="text" name="definition-input-<%= count %>" class="form-control" value="<%= definition %>">
    </div>
    <div class="form-group">
      <label for="author-input-<%= count %>">Author</label>
      <input type="text" name="author-input-<%= count %>" class="form-control" value="<%= author %>">
    </div>
    <% count += 1 %>
  <% end %>
  <h5>Add Definitions:<h5>
  <div class="form-group">
    <label for="definition-input-<%= count %>">Definition</label>
    <input type="text" name="definition-input-<%= count %>" class="form-control">
  </div>
  <div class="form-group">
    <label for="author-input-<%= count %>">Author</label>
    <input type="text" name="author-input-<%= count %>" class="form-control">
  </div>

  <button type="submit" class="btn">Update</button>
</form>
